body{
    text-align: center;
}
#btn1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3DD25D;

}
#btn2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C43DD2;

}
#btn3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF0042 ;

}
#btn4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #87A70F  ;

}
#btn5{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0FA79C   ;

}